body{
    padding: 25px;

}
h1{
    font-weight: bold;
    background-color: coral;
    position:static;
    margin: auto;
    text-align: center;
    padding: 15px;
    border: solid 5px;
    border-radius: 25px;
    width: 75%;
}
form{
    background-color: whitesmoke;
    display: flex;
    flex-direction: column;
    text-align: center;
    border: solid 3px;
    border-radius: 25px;
    margin-top: 1rem;
    font-weight: bold;
    padding: 2rem;
    gap: 15px;
}
select{
    text-align: center;
}
:placeholder-shown{
    text-align: center;
}

.home{
    background-color: coral;
    width: 25%;
    margin: auto;
    padding: 0.5rem;
    border-radius: 25px;
    border: solid;
    text-decoration: none;
    color: black;
}
